:root {
    // ROW GAP
    .rg-0 {
        row-gap: var(--bb-indent-0);
    }
    .rg-1 {
        row-gap: var(--bb-indent-1);
    }
    .rg-2 {
        row-gap: var(--bb-indent-2);
    }
    .rg-3 {
        row-gap: var(--bb-indent-3);
    }
    .rg-4 {
        row-gap: var(--bb-indent-4);
    }
    .rg-5 {
        row-gap: var(--bb-indent-5);
    }
}
