:root {
    // FONT WEIGHT
    .w-light {
        font-weight: var(--bb-weight-light);
    }
    .w-regular {
        font-weight: var(--bb-weight-regular);
    }
    .w-medium {
        font-weight: var(--bb-weight-medium);
    }
    .w-bold {
        font-weight: var(--bb-weight-bold);
    }
}
